<h1><%= @list.name %> list</h1>
<% if @list.movies.empty? %>
  <p>No movies in this list yet.</p>
<% else %>
  <ul>
    <% @list.movies.each do |movie| %>
      <li><%= movie.title %></li>
    <% end %>
  </ul>
<% end %>
<h3>Add a movie</h3>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
<hr>
<%= link_to 'Back to all lists', lists_path %>
